*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: myBold;
    src: url("./assets/fonts/Quasimoda\ Bold.otf") format("opentype");
    font-style: normal;
}

@font-face {
  font-family: myNormal;
  src: url("./assets/fonts/Quasimoda\ Regular.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: myMedium;
  src: url("./assets/fonts/Quasimoda\ Medium.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: mySemiBold;
  src: url("./assets/fonts/Quasimoda\ SemiBold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: sfBold;
  src: url("./assets/sf/SF-Pro-Display-Bold.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: sfMedium;
  src: url("./assets/sf/SF-Pro-Display-Medium.otf") format("opentype");
  font-style: normal;
}

@font-face {
  font-family: sfSemiBold;
  src: url("./assets/sf/SF-Pro-Display-Semibold.otf") format("opentype");
  font-style: normal;
}




.blue-background {
    position: fixed;
    top: 0;
    left: 0;
    height: calc(100dvh * 0.225);
    width: 100dvw;
    background: linear-gradient(
        180deg,
        #029cfe 0%,
        rgba(2, 156, 254, 0.13) 100%
    );
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    z-index: 0;
}

.main {
    padding: 36px 0;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 100dvh;
    width: 100dvw;

}

.top-text {
    position: relative;
    font-family: myBold;
    font-size: 17px;
    line-height: 22px;
    color: white;
    text-align: center;
}

.arrow {
  position: absolute;
  left: 20px;
  top: -5px;
  cursor: pointer;
}

.stepIndicator {
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 19px;
    padding: 0 50px;
    padding-bottom: 0;
    height: 100%;
    margin-top: 5px;
    

}

.map-container {
    position: relative;
    display: flex;
    justify-content: center;
    border-radius: 14px;
    align-items: center;
    width: 100%;
    flex: 1;
    background-image: url(./assets/citymap2.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.22);

}


.input-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  height: 49px;
  /* flex: 0.18; */
}

.input {
    outline: none;
    border: none;
    box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.22);
    height: 49px;
    height: 100%;
    border-radius: 28px;
    padding: 7px 16px;
    width: 100%;
    position: relative;
    font-family: myNormal;
    font-size: 17px;
    line-height: 22px;
    display: flex;
    align-items: center;
    padding-left: 43px;
}

.mapPin {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  content: "";
}

.location {

}


.list {
  display: flex;
  flex-direction: column;
  padding: 14px 14px 14px 14px;
  gap: 20px;
  width: 100%;
  justify-content: start;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.22);
  border-radius: 16px;
  max-height: 100%;
  overflow:scroll;
  flex: 1;
  background-color: white;
  position: relative;
  z-index: 5;
  
}

.list-text {
  font-family: myBold;
  font-size: 17px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
  margin-bottom: -8px;
}

.list-container {
  display: flex;
  flex-direction: column;
  gap: 7px;

}

.busStand {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  /* height: 63px; */
  position: relative;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  /* overflow: hidden; */
}

.basic-info {
  display: flex;
  justify-content: space-between;
  gap: 5px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.busStandImg {
  position: absolute;
  top: 3px;
  left: 0;
  z-index: 0;
}

.rectangle {
  position: absolute;
  top: 8px;
  left: 36px;
  z-index: 0;
  transform: scaleX(1.2);

}

.left .top .name {
  padding-left: 48px;
  padding-top: 6px;
  font-family: myBold;
  font-size: 17px;
  line-height: 22px;
  color: rgba(232, 232, 232, 1);
  position: relative;
  z-index: 1;

}

.left .bottom {
  display: flex;
  gap: 2px;
  align-items: center;
  padding-left: 5px;
}

.amount {
  font-family: myBold;
  font-size: 8px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
}

.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.red {
  background-color: rgba(222, 67, 67, 1);
}

.yellow {
  background-color: rgba(222, 179, 67, 1);
}

.green {
  background-color: rgba(89, 222, 67, 1);
}

.occupancy {
  font-family: myBold;
  font-size: 8px;
  line-height: 22px;
  color: rgba(35, 105, 188, 1);
}

.busStand .right {
  display: flex;
  gap: 3px;
  padding-right: 27px;
}

.number-text {
  display: flex;
  flex-direction: column;
  gap: 1px;
  align-items: end;
  padding-top: 3px;
}

.distance-text {
  font-family: myBold;
  font-size: 8px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
}

.number {
  font-family: myBold;
  font-size: 44px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
}

.km {
  display: flex;
  flex-direction: column;
  justify-content: end;
  font-family: myBold;
  font-size: 13px;
  line-height: 22px;
  color: rgba(35, 105, 188, 1);
  padding-bottom: 3px;
  z-index: 0;
}

.rectLeft {
  position: absolute;
  top: 6px;
  left: 0;
  width: 45px;
  height: 28px;
  transform: scaleY(1.2);
  z-index: 0;
}

.busImg {
  position: absolute;
  top: 5px;
  left: 6px;
  width: 28px;
  height: 28px;
  z-index: 0;
}



.rectRight {
  position: absolute;
  top: 12px;
  left: 41px;
  width: 80px;
  right: 18px;
  transform: scale(1.1, 1.2);
}

.next {
  color: rgba(7, 120, 255, 1) !important;
  padding-top: 8px !important;
}

.from {
  font-family: myBold;
  font-size: 8px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
}

.fromImg {
  width: 12px;
  height: 12px;
}

.coming {
  font-family: myBold;
  font-size: 8px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
}

.busRight {
  display: flex;
  flex-direction: row;
  padding-right: 12px !important;
}

.arrival-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.arrives {
  font-family: myBold;
  font-size: 8px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
}

.arrival-div {
  display: flex;
  gap: 5px;
}

.hour-number {
  font-family: myBold;
  font-size: 44px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
}

.hour-text {
  font-family: myBold;
  font-size: 13px;
  line-height: 22px;
  color: rgba(35, 105, 188, 1);
  padding-top: 10px;
}

.min-container {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.travel {
  font-family: myBold;
  font-size: 8px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
}

.travel-div {
  display: flex;
  gap: 5px;
  height: 100%;
}

.travel-number {
  font-family: myBold;
  font-size: 44px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
}

.travel-text {
  font-family: myBold;
  font-size: 13px;
  line-height: 22px;
  color: rgba(35, 105, 188, 1);
  padding-top: 10px;
}

.journey-container {
  display: flex;
  justify-content: space-between;
  font-family: myBold;
  font-size: 17px;
  line-height: 22px;
  position: relative;
  z-index: 5;
  color: white;
  width: 80%;

}

.plate {
  display: flex;
  justify-content: space-between;
  padding: 8px;
  box-shadow: 0px 4px 16px 0px rgba(0, 0, 0, 0.22);
  margin: 0 10px;
  border-radius: 9px;
  align-items: center;

}

.plate-left {
  display: flex;
  align-items: center;
  gap: 5px;
  font-family: sfBold;
  font-size: 17px;
  line-height: 22px;
  color: rgba(2, 156, 254, 1);
}

.route {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.route-title {
  display: flex;
  gap: 5px;
  font-family: sfSemiBold, sans-serif;
  font-size: 17px;
  line-height: 22px;
  color: rgba(35, 105, 188, 1);
  /* box-shadow: 0px -2px 16px 0px rgba(0, 0, 0, 0.22); */
  position: relative;
  z-index: 3;
  border-radius: 0 7px 0px 0;
  padding: 3px 14px;
  background-color: white;

}

/* .route-list::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 10px;
  background-color: white;
} */

.route-list-container {
  background-color: white;
  padding: 6px;
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.22);
  width: 100%;
  position: relative;
  z-index: 2;

}

.route-list {
  width: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  border: solid 2px rgba(0, 0, 0, 0.11);
  border-radius: 10px;
  font-family: mySemiBold, sans-serif;
  font-size: 12px;
  line-height: 22px;
  color: rgba(35, 105, 188, 1);

}

.route-list path {
  stroke-width: 2;
}

.route-list > div {
  display: flex;
  padding: 2px 6px;
  width: 100%;
  gap: 10px;
  justify-content: space-between;
}

.route-list > div:last-child {
  justify-content: start;
  gap: 7dvw;
}


.bottomCurved {
  margin-left: 10px;
}

.leftCurved {
  margin-right: 10px;
}

.buttons {
  display: flex;
  gap: 15px;
  padding: 0 15px;
  width: 100%;
}

.buttons > div {
  height: 29px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sfMedium, sans-serif;
  font-size: 14px;
  line-height: 22px;
  padding: 8px 0;
  width: 100%;
  box-shadow: 0px 3px 5.3px 0px rgba(0, 0, 0, 0.22);
  border-radius: 6px;
}

.cancel {
  border: 1px solid rgba(2, 156, 254, 1);
  color: rgba(2, 156, 254, 1);


}

.track {
  background-color: rgba(2, 156, 254, 1);
  color: white;
}